<div class="recaptcha1 recaptcha_nothad_incorrect_sol recaptcha_isnot_showing_audio">
    <img alt="" width="71" height="36" src="//www.google.com/recaptcha/api/img/clean/logo.png">
    <img class="recaptcha_image" alt="reCAPTCHA challenge image" height="57" width="300" src="">
    <a href="javascript:Recaptcha.reload()"><img width="25" height="18" alt="Refresh" src="//www.google.com/recaptcha/api/img/clean/refresh.png"></a>
    <a title="Help" href="javascript:Recaptcha.showhelp()"><img width="25" height="16" alt="Help" src="//www.google.com/recaptcha/api/img/clean/help.png"></a>
    <span style="display: none;"><input type="hidden" name="recaptcha_challenge_field"></span>
    <input name="recaptcha_response_field" type="text" placeholder="" autocomplete="off">
</div>
